[submodule "ats/vendor/phpoffice/math"]
    path = ats/vendor/phpoffice/math
    url = https://github.com/PHPOffice/PhpSpreadsheet.git

[submodule "ats/vendor/phpoffice/phpword"]
    path = ats/vendor/phpoffice/phpword
    url = https://github.com/PHPOffice/PHPWord.git

[submodule "ats/vendor/smalot/pdfparser"]
    path = ats/vendor/smalot/pdfparser
    url = https://github.com/smalot/pdfparser.git
